<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.18/css/jquery.dataTables.min.css">
<script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script type="text/javascript"src="js/university.js"></script>


</head>

<body style="background-color:#B0E0E6;">
	<div class="panel panel-default">
	<div class="panel-body"style="background: linear-gradient(to top left, #0099ff 0%, #66ccff 86%);">
<div style="background: linear-gradient(to bottom, #3366ff 0%, #000066 86%);" class="jumbotron text-center">
<header>
  <h1 style="color:#fff;font-family:"Oswald", Arial, sans-serif;">World Universities</h1>
</header>
</div>
<div style="background-color:linear-gradient(to top left, #00ffff 0%, #66ccff 86%);" class="container">
<div class="table-responsive"> 
<table style="background-color:linear-gradient(to top left, #00ffff 0%, #66ccff 86%);" id="example" class="table" cellspacing="1" width="100%">
     <thead>
		 <div class="row">
         <tr>
			 <div class="col-sm-4">
             <th>University Name</th>
			 </div>
			 <div class="col-sm-4">
             <th>Country Name</th>
		     </div>
		     <div class="col-sm-4">
            <th>University Web Site</th> 
            </div>
            </tr>
		     </div>
         
        </thead>
 </table>
 <br>
</div>
</div>
<div style="background: linear-gradient(to top left, #003300 0%, #000066 86%);" class="jumbotron text-center">

<footer>
  <h5 style="color:#fff;font-family:"Oswald", Arial, sans-serif;">  © 2019 Manikiran Chepur. All Rights Reserved.</h5>
</footer>
</div>
</div>
</div>

</body>
</html>